body {
  background-color: black;
  color: #ffffff;
  background-image: url(https://img.freepik.com/foto-gratis/telon-fondo-abstracto-diseno-moderno-e-ia-generativa-ondas-fluidas_188544-12522.jpg?w=1380&t=st=1704939479~exp=1704940079~hmac=a20f97ccb9dd2b123e25470e5e195adb63937556b94cd5b486eb420981903763);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

h1 {
  font-size: 60px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  line-height: 60px;
  padding: 0 64px;
  margin-top: 100px;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}



.rect {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  background: #000000c7;
  box-shadow: -30px 30px 60px #ffffff, 30px -30px 60px #ffffff;
  height: 250px;
  width: 550px;
}

.time {
  color: #c99000;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 80px;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-top: 10px;
}

.buttonPlay,
.buttonReset {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: linear-gradient(225deg, #000000c7, #000000c7);
  box-shadow: -12px 12px 35px #ffffff, 12px -12px 35px #ffffff;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}
